@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

:root {
    --cor1: #03045E;
    --cor2: #0077B6;
    --cor3: #00B4D8;
    --cor4: #90E0EF;
    --cor5: #CAF0F8;

    --fonte-normal: Arial, Helvetica, sans-serif;
    --fonte-principal: 'Bungee', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-normal);
}

body {
    background-color: var(--cor5);
}

header {
    text-align: center;
    background-color: var(--cor3);
    min-height: 155px;;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.226);
}

header h1 {
    font-family: var(--fonte-principal);
    color: var(--cor1);
    margin-bottom: 35px;

}

nav {
    padding: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

h2 {
    font-size: 2em;
    color: var(--cor1);
    font-family: 'Oswald', sans-serif;
    padding: 3px 7px 3px 7px;
    background-image: linear-gradient(to right, var(--cor5), transparent);
    border-radius: 5px;
    
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    margin-bottom: 57px;
    box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.24);
}

article {
    margin-bottom: 30px;
}

article > p {
    text-indent: 20px;
    line-height: 1.5em;
    text-align: justify;
    padding: 6px;
}

#ferramentas > ul {
    list-style-position: inside;
    display: none;
    text-align: left;
    margin-left: 50px;
    background-color: var(--cor4);
    columns: 2;
    margin: auto;
    max-width: 600px;
    padding: 7px;
    border: 2px var(--cor3) solid;
    border-radius: 5px;
    box-shadow: 4px 3px 7px 0px rgba(0, 0, 0, 0.342);
    
}

#ferramentas:active > ul {
    display: block;    
}


#ferramentas {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

button {
    background-color: var(--cor1); 
    border-radius: 10px;   
    border-color: black;
    transition-duration: 0.25s;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 3px 1px 2px 1px rgba(0, 0, 0, 0.301);
}

button:hover {
    background-color: var(--cor2);
    border-color: var(--cor1);
}

button:hover > p {
    color: var(--cor1);
}

button:active {
    background-color: black;
    border-color: black;
}

button:active > p {
    color: white;
}

button > p {
    color: white;
    font-family: var(--fonte-normal);
    padding: 5px;
    font-weight: bold;
}


div.video {
    background-color: var(--cor2);
    margin: 0px -5px 20px -5px;
    padding: 20px;
    text-align: center;
    padding-bottom: 59%;
    position: relative;

}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor4);
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 4px 3px 7px 0px rgba(0, 0, 0, 0.342);
}

aside > h3 {
    background-color: var(--cor1);
    margin: 0px;
    padding: 5px;
    padding-top: 6px;
    border-radius: 4px 4px 0px 0px;
    color: white;
}

aside > p {
    padding: 6px;
}

aside > ul {
    list-style-position: inside;
    padding: 6px;
    columns: 2;
}

li {
    padding: 5px;
}

footer {
    background-color: var(--cor1);
    font-size: 0.8em;
    color: white;
    text-align: center;
    padding: 11px;
}

footer  strong {
    color: var(--cor4)
}