@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

:root {
    --cor1: #03045E;
    --cor2: #0077B6;
    --cor3: #00B4D8;
    --cor4: #90E0EF;
    --cor5: #CAF0F8;

    --fonte-normal: Arial, Helvetica, sans-serif;
    --fonte-principal: 'Bowlby One SC', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-normal);
}

body {
    background-color: var(--cor5);
}

header {
    text-align: center;
    background-color: var(--cor3);
    min-height: 103px;
}

header h1 {
    font-family: var(--fonte-principal);
    color: var(--cor1);
    margin-bottom: 20px;

}

#imagem-principal {
    display: block;
    text-align: right;
}

nav {
    padding: 5px;
    margin-bottom: 10px;
}

nav > a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    margin-bottom: 50px;
    box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.24);
}

article {
    margin-bottom: 30px;
}

article > p {
    text-indent: 20px;
    line-height: 1.5em;
    text-align: justify;
    padding: 6px;
}

aside {
    background-color: var(--cor4);
    max-width: 800px;
    margin: auto;
    margin-bottom: 17px;
    border-radius: 4px 4px 4px 4px
}

aside > h3 {
    background-color: var(--cor1);
    margin: 0px;
    padding: 5px;
    padding-top: 6px;
    color: white;
}

aside > p {
    padding: 6px;
}

aside > ul {
    list-style-position: inside;
    padding: 6px;
    columns: 2;
}

li {
    padding: 5px;
}

footer {
    background-color: var(--cor1);
    font-size: 0.8em;
    color: white;
    text-align: center;
    padding: 11px;
}

footer  strong {
    color: var(--cor4)
}